<div class="footer card-footer text-muted">

  <div class="footer-top">

    <div class="footer-left">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "logo" %>
      <div class="footer-links">
        <%= link_to "#" do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to "#" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to "#" do %>
          <i class="fab fa-facebook"></i>
        <% end %>
        <%= link_to "#" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to "#" do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
      </div>
    </div>

    <div class="footer-right">

    </div>
  </div>

  <div class="footer-copyright">
    <i class="far fa-copyright"></i>
  2022, FluentChinese
  </div>

</div>
