<div class="tabs-sidebar">
  <%#= image_tag "" %>
  <h1>FluentChinese</h1>
  <div class="name">
    <i class="fas fa-circle"></i>
    <p><%= "#{current_user.first_name} #{current_user.last_name}" %></p>
  </div>
  <div class="tabs">
    <div class="tab-title">
        <%= link_to "Dashboard", "#", class: "tab-link  #{controller.controller_name == 'pages' && controller.action_name == 'dashboard' ? 'active' : ''}" %>
    </div>
    <div class="tab-title">
      <%= link_to "Challenges", challenges_path, class: "tab-link  #{controller.controller_name == 'challenges' && controller.action_name == 'index' ? 'active' : ''}" %>
    </div>
    <div class="tab-title">
      <%= link_to "Students", challenges_path, class: "tab-link  #{controller.controller_name == 'challenges' && controller.action_name == 'index' ? 'active' : ''}" %>
    </div>
    <div class="tab-title">
      <%= link_to "Games", challenges_path, class: "tab-link  #{controller.controller_name == 'challenges' && controller.action_name == 'index' ? 'active' : ''}" %>
    </div>
    <div class="d-flex tab-title settings">
      <i class="fa-solid fa-gear"></i>
      <%= link_to "Settings", challenges_path, class: "tab-link  #{controller.controller_name == 'challenges' && controller.action_name == 'index' ? 'active' : ''}" %>
    </div>
  </div>
</div>
