<div class="dashboard">

  <%= render 'shared/sidenavbar' %>

  <div class="dashboard-content">

    <header class="welcome-banner d-flex">

      <div>
        <h1><%= current_user.first_name %>，<span class="red-user">你好！</span>!</h1>
        <% if @current_challenge %>
          <h2>Today's Challenge: <%= @current_challenge.name %></h2>
          <% if @number_of_current_challenge_completed_exercises %>
            <p><%= @number_of_current_challenge_completed_exercises %>/5 exercises completed</p>
          <% else %>
            <p>Click the button below to get started!</p>
          <% end %>
          <% if current_user.challenges.include?(@current_challenge) %>
            <%= link_to "Back to Challenge", challenge_path(id: @current_challenge.id), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Start Challenge", sessions_path(id: @current_challenge.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <h2>Review what you've learned or take a break ☕️ </h2>
        <% end %>
      </div>

      <%= render "shared/progress_bar" %>
    </header>

    <div class="section">

      <div class="section-titles">
        <div class="section-title">
          <h3><%= Date.today.strftime("%B, %Y") %></h3>
          <div class="btn-group nav-btns">
            <button class="btn btn-red btn-round-left">
              <%= image_tag "left_arrow.svg", class: "arrow-left-icon first-box", size: "30" %>
            </button>
            <button class="btn btn-red btn-round-right">
              <%= image_tag "right_arrow.svg", class: "arrow-right-icon last-box", size: "30" %>
            </button>
          </div>
        </div>
        <div class="section-subtitle">
         <button class="btn btn-pink btn-round month">
          <%= image_tag "calendar.svg", class: "calendar-icon", size: "14" %>
          <%= link_to "View all", challenges_path %>
         </button>
        </div>
      </div>

      <ul class="time-list">
       <% @challenges.each do |challenge|%>
        <%= link_to challenge_path(id: challenge.id) do %>
         <li class="time-list__time-item <%=challenge.date == Date.today ? 'active' : '' %>" >
          <div class="<%= challenge.date == Date.today ? 'day day-active' : 'day day-non-active'%>"><%= challenge.date.strftime("%a") %></div>
          <div class="day-number"><%= challenge.date.strftime("%d") %></div>
         </li>
        <% end %>
       <% end %>
      </ul>

    </div>

    <div class="section">
      <div class="section-titles">
        <div class="section-title">Teaching Assistants</div>
      </div>
      <div class="justify-content-around teacher-list">
        <div class="d-flex align-items-center px-3 teacher-list-item">
          <%= image_tag "https://res.cloudinary.com/dab0abars/image/upload/v1644071971/rachel-mcdermott-0fN7Fxv1eWA-unsplash_v24j81.jpg",
          class: "teacher-face", width: 150, crop: :thumb, gravity: :face %>
          <div class="teacher-list-info">
            <h3>Jane Doe</h3>
            <span>Hi guys, let's do this!</span>
          </div>
        </div>
        <div class="d-flex align-items-center px-3 teacher-list-item">
          <%= image_tag "https://res.cloudinary.com/dab0abars/image/upload/v1646344506/ben-den-engelsen-YUu9UAcOKZ4-unsplash_zlt0dw.jpg",
          class: "teacher-face", width: 150, crop: :thumb, gravity: :face %>
          <div class="teacher-list-info">
            <h3>Harry Jones</h3>
            <span>Looking forward to today!</span>
          </div>
        </div>
        <div class="d-flex align-items-center px-3 teacher-list-item">
          <%= image_tag "https://res.cloudinary.com/dab0abars/image/upload/v1646344578/christina-wocintechchat-com-c-mgSuxqpzA-unsplash_dgibzk.jpg",
          class: "teacher-face", width: 150, crop: :thumb, gravity: :face %>
          <div class="teacher-list-info">
            <h3>Lisa Moon</h3>
            <span>Time to learn!</span>
          </div>
        </div>
        <div class="d-flex align-items-center px-3 teacher-list-item">
          <%= image_tag "https://res.cloudinary.com/dab0abars/image/upload/v1646344548/ayo-ogunseinde-sibVwORYqs0-unsplash_lpk8so.jpg",
          class: "teacher-face", width: 150, crop: :thumb, gravity: :face %>
          <div class="teacher-list-info">
            <h3>Scott Wayne</h3>
            <span>You can do it!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-others">
    <div class="section">
        <div class="section-titles">
            <div class="section-title"></div>
        </div>
  </div>

</div>
