<div class="container">

  <h1>Welcome, <%= current_user.first_name %>!</h1>

  <div>
  <h2>Training for today: <%= @current_challenge.name %></h2>
    <% if current_user.challenges.include?(@current_challenge) %>
      <%= link_to "Go back to challenge", challenge_path(id: @current_challenge.id) %>
    <% else %>
      <%= link_to "Start challenge", sessions_path(id: @current_challenge.id), method: :post %>
    <% end %>
  </div>

  <div>
  <h3><%= Date.today.strftime("%B, %Y") %></h3>
  <%= link_to "View all", challenges_path %>
  <ul>
    <% @challenges.each do |challenge|%>
      <li><%= challenge.date.strftime("%A %d") %></li>
    <% end %>
  </ul>
  </div>

  <div>
    <h2>Teaching assistants</h2>
    <ul>
      <li>Teacher</li>
      <li>Teacher</li>
      <li>Teacher</li>
      <li>Teacher</li>
    </ul>
  </div>

</div>
