<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>FluentChinese</h1>
    <p>Climb The Great Wall In No Time At All</p>
    <% if user_signed_in? %>
    <%= link_to "Go to Challenges", dashboard_path, class: "btn btn-lg btn-primary"  %>
    <% else %>
    <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
    <% end %>
  </div>
</div>

<div class="container">

<h2>See what our graduates say</h2>

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slide-card">
          <%= image_tag "https://res.cloudinary.com/dbevdhp4h/image/upload/v1646694944/istockphoto-1319763830-612x612_lkahjo.jpg", class:"d-block", alt:"First slide" %>
          <div class="slide-card-text">
            <h5>Cecilia</h5>
            <p>"This was the best bootcamp"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slide-card">
          <%= image_tag "https://res-console.cloudinary.com/dbevdhp4h/thumbnails/transform/v1/image/upload//v1646693441/YWx1bW51czFfdWxsaDNt/drilldown", class:"d-block", alt:"Second slide"  %>
          <div class="slide-card-text">
            <h5>David</h5>
            <p>"I had the best time ever"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slide-card">
          <%= image_tag "https://res.cloudinary.com/dbevdhp4h/image/upload/v1646694940/istockphoto-1311655328-612x612_gl1cv6.jpg", class:"d-block", alt:"Third slide" %>
          <div class="slide-card-text">
            <h5>Alice</h5>
            <p>"I loved the bootcamp</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2> Hello</h2>

</div>
