<%= content_for(:navbar_class, "navbar-home") %>

<body class="body-container">
  <header class="header">
  </header>
  <div class="container">
    <div class="container-one">
      <div class="d-flex hero">
        <div class="hero-body">
          <%# <h1 class="header-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit!</h1> %>
          <h1 class="header-text">FluentChinese</h1>
          <h2 class="site__subtitle">Climb The Great Wall In No Time At All</h2>
          <% if user_signed_in? %>
            <%= link_to "Go to Challenges", dashboard_path, class: "btn-lg hero-button"  %>
          <% else %>
            <%= link_to "Sign Up Today!", new_user_registration_path, class: "btn-lg hero-button"  %>
          <% end %>
        </div>
        <%= image_tag "hero_image.svg", class: "hero-image" %>
      </div>
      <div class="d-flex features">
        <h2 class="feature-num" style="opacity: 1; transform: translate(0px, 0px);"><span class="number">24</span> <span class="feature-text label">weeks part-time</span></h2>
        <hr style="opacity: 1;">
        <h2 class="feature-num" style="opacity: 1; transform: translate(0px, 0px);"><span class="number">271</span> <span class="feature-text label">alumni</span></h2>
        <hr style="opacity: 1;">
        <h2 class="feature-num" style="opacity: 1; transform: translate(0px, 0px);"><span class="number">3</span> <span class="feature-text label">cities</span></h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bootcamp-intro-cards">
      <div class="bootcamp-intro-card">
        <p class="left bootcamp-text">Have you always been dreaming of studying Chinese?<br>Have you started already and are struggling?<br>Have you started many times but never got anywhere?</p>
        <%= image_tag "study.svg", class: "bootcamp-img", size: "200" %>
      </div>
      <div class="bootcamp-intro-card">
        <%= image_tag "guide.svg", class: "bootcamp-img", size: "200" %>
        <p class="right bootcamp-text">If so, then this bootcamp is for you. It will guide you to fluency in <strong>six months</strong>.</p>
      </div>
      <div class="bootcamp-intro-card">
        <p class="left bootcamp-text">This Chinese learning bootcamp has been designed to help students develop <strong>self-efficacy</strong> so they can make <strong>real progress</strong> and feel <strong>empowered</strong> to carry on.</p>
        <%= image_tag "fly.svg", class: "bootcamp-img", size: "200" %>
      </div>
    </div>
  </div>

  <div class="sect sect--padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-1">
            <h3>Home Life</h3>
            <p>From the comfort of your own home, all remote</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-2">
            <h3>Reliable</h3>
            <p>Progress guaranteed, a reliable curriculum</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-3">
            <h3>Community</h3>
            <p>Join the community, live group discussions</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="sect sect--white">
    <div class="container">
      <div class="row">
        <%# <h1 class="row__title">Testimonials</h1> %>
      </div>
      <div class="row row--margin row--text-center" style="justify-content: center;">
        <div class="col-md-8 col-sm-10 col-xs-12 row__carousel">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="item__content">
                  <img class="item__img" src="https://res.cloudinary.com/dab0abars/image/upload/v1647365725/FluentChinese_Logo_Red_kilm7y.svg" alt="FluentChinese"><span class="item__name"></span>
                  <p class="item__description">I'm totally satisfied with the quality of teaching and your online portal. One of the main reason I choose your school is the hybrid format. All of your staff always provide me warm and flexible support. The teachers advice has really helped me a lot. Thank you very much for all your assistance.</p>
                </div>
                <div class="item__avatar avatar__one"></div>
                <p class="item__people">David Holmes</p>
                <p class="item__occupation">London Alumni</p>
              </div>

              <div class="carousel-item">
                <div class="item__content">
                  <img class="item__img" src="https://res.cloudinary.com/dab0abars/image/upload/v1647365725/FluentChinese_Logo_Red_kilm7y.svg" alt="FluentChinese"><span class="item__name"></span>
                  <p class="item__description">It has been a great experience to study courses with teachers in a small group. They proved to be engaging and entertaining teachers, providing us with interesting and challenging exercises every time. I was also very satisfied with the course layout. It’s well structured and well paced.</p>
                </div>
                <div class="item__avatar avatar__two"></div>
                <p class="item__people">Cecilia Tompson</p>
                <p class="item__occupation">Amsterdam Alumni</a>
              </div>

              <div class="carousel-item">
                <div class="item__content">
                  <img class="item__img" src="https://res.cloudinary.com/dab0abars/image/upload/v1647365725/FluentChinese_Logo_Red_kilm7y.svg" alt="FluentChinese"><span class="item__name"></span>
                  <p class="item__description">Classes are very interactive. Topics are very interesting. Teachers will share some wordings used by local people in China. Lots of practice opportunities in day-to-day conversations. Practice with specific topics, care of individual needs just in case.</p>
                </div>
                <div class="item__avatar avatar__three"></div>
                <p class="item__people">Alice Palmer</p>
                <p class="item__occupation">Australia Alumni</a>
              </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <img class="carousel-control__img" src="https://res.cloudinary.com/dab0abars/image/upload/v1647517165/carousel_arrow_rlf7bk.svg" />
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <img class="carousel-control__img" src="https://res.cloudinary.com/dab0abars/image/upload/v1647517317/carousel_arrow_right_o35iyw.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sect sect--white sect--no-padding">
    <div class="container">
      <div class="row row--center">
        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/mOtHRw/fblogo.png">
          </a>
        </div>

        <div class="col-md-3  col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/nfpXRw/twitterlogo.png">
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img linkedin" src="https://res.cloudinary.com/dab0abars/image/upload/v1647451394/linkedinlogo_grey_dos8em.png">
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/ij03zG/inlogo.png">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="sect sect--white">
    <div class="container">
      <div class="row">
        <%# <h1 class="row__title">Our blog</h1> %>
      </div>

      <div class="row row--margin">
        <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--first"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Harry Jones</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">How to improve speech using few tools of the trade<br><span class="article-pre__arrow--red"> →</span></h1>
          </a>
        </div>

        <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--second"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">My Story • </span><span class="article-pre__aut"> by Jane Doe</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">About Jane Doe's experience with FluentChinese<br><span class="article-pre__arrow--red">→</span></h1>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--fourth"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Success Stories • </span><span class="article-pre__aut"> by Lisa Moon</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">Lisa Moon tells us all about her startup business<br><span class="article-pre__arrow--red"> →</span></h1>
          </a>
        </div>

        <div class="col-md-6 article-pre__col">
          <a href="#" class="article-pre ">
            <div class="article-pre__img article-pre__img--third"></div>
            <h2 class="article-pre__info">
              <span class="article-pre__cat">Protips • </span><span class="article-pre__aut"> by Scott Wayne</span> <span class="article-pre__date"> - 5 mins read</span>
            </h2>
            <h1 class="article-pre__title">How to improve speech using few tools of the trade<br><span class="article-pre__arrow--red"> →</span></h1>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="sect sect--padding-bottom">
    <div class="container">
      <div class="row">
        <%# <h1 class="row__title">Contact Us </h1> %>
      </div>
      <div class="row row--margin">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="contacts">
            <%= image_tag "https://res.cloudinary.com/dab0abars/image/upload/v1647365725/FluentChinese_Logo_Red_kilm7y.svg", class: "contacts_title-ag" %>
            <p class="contacts__address">
              Shoreditch Stables, North<br>
              138 Kingsland Road<br>
              London E2 8DY
            </p>
            <p class="contacts__info">tel. <a href="#" class="contacts__info-link">020 7729 0146</a></p>
            <p class="contacts__info">m. <a href="#"class="contacts__info-link">info@fluentchinese.com</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <form id="contact" class="form">
            <div class="form-group">
              <select class="form__field form__select">
                <option selected value>Choose topic*</option>
                <option value=1>Mandarin</option>
                <option value=2>Hakka</option>
              </select>
            </div>
            <div class="form-group">
              <div class="form__field--half">
                <input type="text" placeholder="Name*" class="form__field form__text"></input>
              </div>
              <div class="form__field--half">
                <input type="text" placeholder="Surname" class="form__field form__text"></input>
              </div>
            </div>

            <div class="form-group">
              <div class="form__field--half">
                <input type="text" placeholder="Email address*" class="form__field form__text"></input>
              </div>
              <div class="form__field--half">
                <input type="text" placeholder="Phone number" class="form__field form__text"></input>
              </div>
            </div>

            <div class="form-group">
              <textarea type="text" placeholder="Your messsage*" class="form__field form__textarea"></textarea>
              <button class="btn btn--up btn--width" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>

  <div class="sect sect--red ">
    <img src="https://res.cloudinary.com/dab0abars/image/upload/v1647453105/sitting_red_yb31ri.png" class="extra-img">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="extra_title">Give us a try today!</h1>
          <h1 class="extra_sub">We will pleased to have you onboard!</h1>
          <a href="#" class="btn btn--white">Get in touch</a>
        </div>
      </div>
    </div>
  </div>

</body>
