

<div class="container">


        <h1 style="color: black">
        <br>
        <br>
        My Profile
        </h1>


    <h2 style="color: black">My Details</h2>
      <div class="card-profile" >
        <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-square-large" %>
        <% elsif current_user.photo_url.present? %>
            <%= image_tag current_user.photo_url, class: "avatar-square-large" %>
        <% else %>
          <%= image_tag "https://www.kindpng.com/picc/m/114-1140943_computer-icons-person-login-transparent-silhouette-icon-png.png", class: "avatar-square-large" %>
        <% end %>
        <div class="card-profile-details">
          <p>First name: <%= current_user.first_name %></p>
          <p>Last name: <%= current_user.last_name %></p>
        </div>
      </div>

    <h3>Challenges Completed</h3>

      <% @completed_challenges.each do |completed_challenge|%>
        <p><%= completed_challenge.name %></p>
        <p><%= completed_challenge.description %></p>
      <% end %>

</div>
<body class="profile-page">
</body>
