<main class="exercise-container">

  <%= render 'shared/sidenavbar' %>

  <div class="time-content">

    <% @challenges.each do |challenge| %>
    <%= link_to challenge_path(id: challenge.id) do %>

    <div class="d-flex time-list-column <%= challenge.date == Date.today ? 'time-list-column active' : '' %>">
      <div class="date">
        <p class="day"><%= challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title"><%= challenge.name %></p>
        <% if challenge.date.strftime("%a") == "Sat" %>
          <p class="start-time">10:00am</p>
        <% else %>
          <p class="start-time">6:30pm</p>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>

<!--
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column active">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
-->

  </div>


    <ul class="exercises">
      <% @exercises.each do |exercise|%>
        <li class="d-flex align-items-center exercise-indivdual">
          <div class="exercise-block">
              <h1 class="exercise-name"><%= exercise.name %></h1>
                   <div class="exercise-content">
                      <% if exercise.name == "Video Lecture" %>
                      <p>Watch a short video to learn the content for today's challenge. Remember to take notes!</p>
                      <% elsif exercise.name == "Vocabulary Building"%>
                        <p>Learn the vocabulary and sentences for today's challenge by first learning them through the flashcards and then playing the games after like match or spell.</p>
                      <% elsif exercise.name == "Reading"%>
                        <p>Complete a reading comprehension quiz for today's challenge along with a reading aloud task to develop your speaking and pronunciation.</p>
                      <% elsif exercise.name == "Listening"%>
                        <p>Complete a listening quiz to self-assess your listening skills based on the content learned in today's challenge.</p>
                      <% elsif exercise.name == "Writing" %>
                        <p>Type up your own version of the reading text about yourself using the language learned from today's challenge.</p>
                      <% else %>
                        <%= exercise.name  %>
                      <% end %>
                  </div>
              <%# <p style="white-space: pre-line">><%= @challenge.description %>

              <%# <h2>Exercises</h2> %>
              <%# <p class="exercise-description"> <%= @challenge.description %>
              <%# </p>  %>

            <% if @session %>



              <% if @completed_exercises.find_by(exercise_id: exercise.id, session_id: @session.id, completed: true) %>
                <i class="fa fa-solid fa-check"> <span class="px-1">Completed</span> </i>
              <% elsif @completed_exercises.find_by(exercise_id: exercise.id, session_id: @session.id, completed: false) %>
              <%# Add styling - if 1 - user association %>
                <%= link_to "Continue", challenge_exercise_path(challenge_id: @challenge.id, id: exercise.id), class: "btn btn-primary btn-exercise" %>
              <% else %>
                <%= link_to "Start", exercise_completed_exercises_path(exercise_id: exercise.id), method: :post, class: "btn btn-primary btn-exercise" %>
              <% end %>

            <% else %>
              <% flash[:notice] = "Complete previous exercises to unlock this one!" %>
            <% end %>
          </div>

          <% if exercise.content_type == "video" %>
            <%= image_tag "video_image.svg", class: "exercise-image"%>
          <% elsif exercise.content_type == "vocabulary" %>
            <%= image_tag "flashcard_image.svg", class: "exercise-image"%>
          <% elsif exercise.content_type == "Reading" %>
            <%= image_tag "reading_image.svg", class: "exercise-image",  height: "160px"%>
          <% elsif exercise.content_type == "Listening" %>
            <%= image_tag "listening_image.svg", class: "exercise-image", height: "160px"%>
          <% else %>
            <%= image_tag "writing_image.svg", class: "exercise-image"%>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>

</main>
