<main class="exercise-container">

  <div class="dashboard-sidenav">
      <%= link_to "FluentChinese", dashboard_path, class: "logo" %>
      <ul class="nav-icon-list">
          <li class="nav-icon-list nav-item">
            <%= link_to dashboard_path, class: "d-flex" do %>
              <%= image_tag "dashboard.svg", class: "icon first", size: "30" %>
              <p class="px-1">Dashboard</p>
              <%# <i class="fa-solid fa-display icon" width="20" height="20"></i> %>
            <% end %>
          </li>
          <li class="nav-icon-list nav-item">
            <%= link_to dashboard_path, class: "d-flex" do %>
              <%= image_tag "challenge.svg", class: "icon", size: "30" %>
              <p class="px-1">Challenges</p>
            <% end %>
          </li>
          <li class="nav-icon-list nav-item">
            <%= link_to dashboard_path, class: "d-flex" do %>
              <%= image_tag "student.svg", class: "icon", size: "30" %>
              <p class="px-1">Students</p>
            <% end %>
          </li>
          <li class="nav-icon-list nav-item">
            <%= link_to dashboard_path, class: "d-flex" do %>
              <%= image_tag "game.svg", class: "icon", size: "30" %>
              <p class="px-1">Games</p>
            <% end %>
          </li>
      </ul>
      <%= link_to dashboard_path, class: "logout" do %>
        <%= image_tag "logout.svg", class: "icon", size: "30" %>
      <% end %>
    </div>
  </div>

  <div class="time-content">
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <% if Date.today == "Saturday" %>
          <p class="start-time">10:00am</p>
        <% else %>
          <p class="start-time">6:30pm</p>
        <% end %>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column active">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>
    <div class="d-flex time-list-column">
      <div class="date">
        <p class="day"><%= @challenge.date.strftime("%a") %></p>
        <h1 class="day-number"><%= @challenge.date.strftime("%d") %></h1>
      </div>

      <div class="exercise-info">
        <p class="exercise-title">Unit 3: Describing hair and eyes</p>
        <p class="start-time">10:00am</p>
      </div>

    </div>

  </div>

  <div class="exercise-content">
<!--
    <header class="exercise-header">
      <h1><%= @challenge.name %> </h1>
      <p><%= @challenge.description %></p>
    </header>
-->
    <%# <h2>Exercises</h2> %>

    <ul class="exercises">
      <% @exercises.each do |exercise|%>
        <li class="d-flex align-items-center exercise-indivdual">
          <% if @session %>
          <div class="exercise-block">
              <h1 class="exercise-name"><%= exercise.name %></h1>
              <p class="exercise-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus consequatur voluptas deleniti?</p>
              <% if @completed_exercises.find_by(exercise_id: exercise.id, session_id: @session.id, completed: true) %>
                <i class="fa fa-solid fa-check"></i>
              <% elsif @completed_exercises.find_by(exercise_id: exercise.id, session_id: @session.id, completed: false) %>
              <%# Add styling - if 1 - user association %>
                <%= link_to "Continue", challenge_exercise_path(challenge_id: @challenge.id, id: exercise.id), class: "btn btn-primary btn-exercise" %>
              <% else %>
                <%= link_to "Start", exercise_completed_exercises_path(exercise_id: exercise.id), method: :post, class: "btn btn-primary btn-exercise" %>
              <% end %>
            <% else %>
              <%= exercise.name %>
            <% end %>
          </div>
          <% if exercise.content_type == "video" %>
            <%= image_tag "video_image.svg", class: "exercise-image"%>
          <% elsif exercise.content_type == "vocabulary" %>
            <%= image_tag "flashcard_image.svg", class: "exercise-image"%>
          <% elsif exercise.content_type == "Reading" %>
            <%= image_tag "reading_image.svg", class: "exercise-image",  height: "160px"%>
          <% elsif exercise.content_type == "Listening" %>
            <%= image_tag "listening_image.svg", class: "exercise-image", height: "160px"%>
          <% else %>
            <%= image_tag "writing_image.svg", class: "exercise-image"%>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>

</main>
