<div class="container">

  <body>

    <div class="exercise-title">
      <h1><%= @exercise.name %></h1>
    </div>

    <div class="exercise-content">

      <div class="exercise-content-inner">

        <% if @exercise.content_type.downcase == "video" %>
          <%= render "video-page"%>
        <% elsif @exercise.content_type.downcase == "vocabulary"%>
          <%= render "vocab" %>
        <% elsif @exercise.content_type.downcase == "reading"%>
          <%= render "reading" %>
        <% elsif @exercise.content_type.downcase == "listening"%>
          <%= render "listening" %>
        <% elsif @exercise.content_type.downcase == "writing" %>
          <%= render "writing_form" %>
        <% else %>
          <%= @exercise.content_type  %>
        <% end %>

        <%= render "exercises_buttons"%>

      </div>

    </div>

  </body>

</div>
