<div class="container">

  <h1><%= @exercise.name %></h1>
  <%= link_to "Back to exercises", challenge_path(id: @challenge.id), class: "btn btn-primary mb-3" %>

    <div class="start-exercise-button">
      <%= link_to "Start exercise", exercise_completed_exercises_path(exercise_id: @exercise.id), method: :post, class: "btn btn-primary #{@completed_exercise ? 'disabled' : ''}" %>
    </div>

    <p></p>
      <%# <p>Now write your own text in the box below. You can use the following text as a model:</p>
      <p>我叫Chris。我三十六岁。我是英国人。我姐姐叫Emma，她三十八岁。</p> %>
    <p></p>

    <div class="video">
      <% if @exercise.content_type == "video" %>
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/iWi-9LJ4dg4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
    </div>

     <div class="vocab">
      <% if @exercise.content_type == "vocabulary" %>
      <iframe src="https://quizlet.com/590946874/flashcards/embed?i=8jnqv&x=1jj1" height="750" width="100%" style="border:0"></iframe>
      <% end %>
    </div>

    <%# <div class="speaking-form">
      <% if @exercise.content_type == "Speaking" %>
      <%# <p>Record yourself reading out the text from the reading exercise in Chinese.</p>
    <embed src="https://www.speakpipe.com/voice-recorder" style="width:1000px; height: 500px;">  %>
    <%# <% end %>
    <%# </div> %>

    <div class="reading">
      <% if @exercise.content_type == "Reading" %>
          <p>我叫Chris。我三十六岁。我是英国人。我有一个姐姐，她叫Emma。她三十八岁。</p>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdeeQKbYvKifsPSkhUHcdDHFGFVYuS5iDnEuNdQV9ZjsN_MTA/viewform?embedded=true" width="1000" height="500" frameborder="5" marginheight="0" marginwidth="0">Loading…</iframe>
          <h2>Now record yourself reading out the text from the reading exercise in Chinese and upload.</h2>
          <input type="file" accept="audio/*" capture id="recorder">
          <audio id="player" controls></audio>
      <% end %>
    </div>

    <div class="writing-form">
      <% if @exercise.content_type == "Writing" %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerPugJ2afuSxyblACZokweJa7PUfANNhGrxmsXE5M_8JVxLg/viewform?embedded=true" width="1000" height="500" frameborder="5"  marginheight="0" marginwidth="0">Loading…</iframe>
      <% end %>
    </div>
    <%# <div class="form-actions">
      <%= f.button :submit %>
    <%# </div> %>

     <% if @completed_exercise %>
      <div class="complete-exercise-button">
        <%= link_to "Complete exercise", exercise_completed_exercise_path(exercise_id: @exercise.id, id: @completed_exercise.id), method: :patch, class: "btn btn-primary #{@completed_exercise.completed ? 'disabled' : ''}" %>
      </div>
    <% end %>

</div>

<script src="//mandarinspot.com/static/mandarinspot.min.js" charset="UTF-8"></script>
<script>mandarinspot.annotate();</script>
