<div class="container">
  <div class="exercise-title">
    <%# <h1><%= @exercise.name</h1> %>
  </div>

  <%= render "video-page" %>

  <div class="vocab">
    <% if @exercise.content_type == "vocabulary" %>
      <iframe src= <%= @exercise.content_url %> height="750" width="100%" style="border:0"></iframe>
    <% end %>
  </div>
  
  <div class="reading">
    
    <% if @exercise.content_type == "Reading" %>
      <p>我叫Chris。我三十六岁。我是英国人。我有一个姐姐，她叫Emma。她三十八岁。</p>
    
      <div class="soundcloud">
        <iframe width="100%" height="100" scrolling="no" frameborder="no" src=<%= @exercise.content_url %> ></iframe>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Raleway,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href=<%= @exercise.content_url_bis %> title="Reading Text" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
      </div>
    
      <div class="typeform">
      <iframe src=<%= @exercise.content_url_ter %> width="1110" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    
      <div class="audio-recorder-task">
      <h3 style="color: white">Now record yourself reading out the text from the reading exercise in Chinese and download the recording to your device.</h2>
      <p> <%= @exercise.description %> </p>
      <iframe width="100%" height="100" scrolling="no" frameborder="no" src= <%= @exercise.content_url %>></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/chris-webster-988440086" title="FluentChinese" target="_blank" style="color: #cccccc; text-decoration: none;">FluentChinese</a> · <a href="https://soundcloud.com/chris-webster-988440086/reading-text-one" title="Reading Text 1" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
      <div data-tf-widget=<%= @exercise.content_url_bis %> data-tf-hide-headers data-tf-iframe-props="title=FluentChinese Reading Text 1" data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>

      <h2>Now record yourself reading out the text from the reading exercise.</h2>
        
      <%= render "audio_recorder" %>
        
      <div class="holder">
        <div data-role="controls" class="controls-css">
          <button>Record</button>
        </div>
        <div data-role="recordings" class="recordings-css"></div>
      </div>
      </div>
    <% end %>
    
    <script src="//mandarinspot.com/static/mandarinspot.min.js" charset="UTF-8"></script>
    <script>
      mandarinspot.annotate();
    </script>
    
  </div>
  
  <div class="listening">
    <% if @exercise.content_type == "Listening" %>
      <iframe width="1100" height="680" src=<%= @exercise.content_url %> frameborder="1" allowfullscreen></iframe>
    <% end %>
  </div>
  
  <div class="writing-form">
    <% if @exercise.content_type == "Writing" %>
    <div data-tf-widget=<%=@exercise.content_url %> data-tf-hide-headers data-tf-iframe-props="title=FluentChinese Writing Text 1" data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js" ></script>
    <% end %>
  </div>
  
  <div class="buttons">
    <div class="back-button">
      <%= link_to "Back to Challenge", challenge_path(id: @challenge.id), class: "btn btn-exercises mb-3" %>
      <% if @completed_exercise %>
        <div class="complete-exercise-button">
          <%= link_to "Exercise Complete", exercise_completed_exercise_path(exercise_id: @exercise.id, id: @completed_exercise.id), method: :patch, class: "btn btn-exercises #{@completed_exercise.completed ? 'disabled' : ''}" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
